package auth

import (
	"todo/view/layout"
)

templ LoginPage() {
    @layout.Base() {
        <div id="todo-container" class="max-w-md mx-auto">
        <div class="bg-white p-8 rounded-lg shadow-lg max-w-xs w-full">
            @LoginForm()
        </div>
        </div>
    }
}
