package todos

import (
	"todo/view/layout"
	"todo/data"
)

type TodosProps struct {
	Todos data.Todos
}

templ Index(props TodosProps) {
	@layout.Base() {
		<div id="todos-container" class="max-w-md mx-auto">
			<div class="bg-white shadow-md rounded my-6">
				@TodoList(props)
			</div>
			@InputForm(InputFormProps{
				Action: "add",
			})
		</div>
	}
}