package todos


templ TodoContainer(props TodoListProps) {
    <div id="todo-container" class="max-w-md mx-auto">
			<div class="bg-white shadow-md rounded my-6">
				@TodoList(props)
			</div>
			@InputForm(InputFormProps{
				Action: "add",
			})
		</div>
}