package users

import (
	"todo/view/layout"
)

templ AuthPage() {
    @layout.Base() {
        <div class="min-h-screen bg-gray-100 flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg max-w-xs w-full">
            @LoginForm()
        </div>
        </div>
    }
}
