package users


import (
    "todo/view/layout"
)



templ ProfilePage(props ProfileProps) {
    @layout.Base() {
        <div id="todo-container" class="max-w-md mx-auto">
            @ProfileContainer(props)
        </div>
    }
}